/* Input */
input, select {
    font-family:inherit;
    font-size: inherit;
    font-weight: 500; 
    background-color: VAR(--BUTTON);
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"] {
    padding: 1px 10px 1px 10px;
    width: 300px;
    box-shadow: var(--BOXSHADOW);
}

/* Fieldset */
fieldset {
    margin: 5px 0 5px 10px;
    border-style: hidden;
}

input[type="checkbox"]:checked,
input[type="checkbox"]:checked+label,
input[type="radio"]:checked,
input[type="radio"]:checked+label {
    padding: 5px 20px 5px 20px;
    background-color: var(--SELECTED);
    color: black;
    box-shadow: var(--BOXSHADOW);
    font-weight: 800;
}

/* Fields */
.name {
    display: flex;
    flex-wrap: wrap;
    max-width: 320px;}
.first {max-width: 150px;}
.last {max-width: 150px;}


.address {
    display: flex;
    flex-wrap: wrap;
    max-width: 300px;}
.number {max-width: 80px;}
.street {max-width: 190px;}
.city {max-width: 140px;}
.state {max-width: 50px;}
.zip {max-width: 80px;}


.phone {
    display: flex;
    flex-wrap: wrap;
    max-width: 200px;}
.area_code {max-width: 55px;}
.prefix {max-width: 55px;}
.four {max-width: 70px;}


.email {
    display: flex;
    flex-wrap: wrap;
    max-width: 420px;}
.user  {max-width: 160px;}
.subdomain  {max-width: 160px;}
.domain {max-width: 60px;}

.license {
    display: flex;
    flex-wrap: wrap;
    max-width: 420px;}
.lic_type  {max-width: 200px;}
.lic_number  {max-width: 120px;}

.bus_lic {
    display: flex;
    flex-wrap: wrap;
    max-width: 420px;}
.bl_name  {max-width: 200px;}
.bl_number  {max-width: 120px;}