* {padding: 0;
    margin: 0;
    box-sizing: border-box;
} /* No inhertiance from the universal selector.*/

html { scroll-behavior: smooth; }

:root {
    /* Standard Color Wheel Hue Angles:
    --RED: 0; --ORANGE: 30; --YELLOW: 60; --LIME: 90;
    --GREEN: 120; --JADE: 150; --CYAN: 180; --CERULEAN: 210;
    --BLUE: 240; --VIOLET: 270; --PURPLE: 300; --MAGENTA: 330;

    Project Colors */
    --SELECTED: hsla(230, 80%, 80%, 0.3);
    --HEADING-1: hsla(240, 80%, 50%, 1.0);
    --HEADING-2: hsla(35, 80%, 50%, 1.0);
    --LINK: hsla(40, 80%, 50%, 1.0);
    --VISITED: hsla(40, 80%, 80%, 1.0);
    --INPUT: hsl(230, 30%, 30%);
    --BACK: hsl(30, 0%, 3%); 
    --HEADER: hsl(30, 0%, 1%);
}

body { 
    color : white;
    background: var(--BACK); 
    font-family: sans-serif; 
    /* 'Calibri', 'Trebuchet MS',  */
    font-weight: 350;
    font-size: 1.1rem;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: left;
}
header {
    background-color: var(--HEADER);
    position: sticky;
    top: 0;
    right: 0;
    left:0;
    height: 80px;
}
footer{
    background-color: var(--HEADER);
    position: sticky;
    bottom: 0;
    right: 0;
    left:0;
    padding-left: 10px;
}
header h1 {
    padding: 20px 0px 10px 130px;
}

#MainLogo {
    position: fixed;
    top: 0;
    left: 0;
}
#MainMenu {
    background-color: var(--HEADING-1);
    position: fixed;
    top: 0;
    right: 0;
    width: 120px;
    text-align: center;
}
#MainMenu summary {
    background-color: var(--HEADING-1);
    color: white;
    font-weight: 400;
    list-style: none;
}

section {
    border-radius: 5px;
    border-style: solid;
    border-color: var(--HEADING-1);
    border-width: 1px;
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin: 15px 20px 15px 20px;
}

button {
    width: 120px;
    padding: 2px 0 2px 0;
    margin: 0;
    font-family: 'Calibri', 'Trebuchet MS', sans-serif;
    font-weight: 500;
    font-size: 1.35rem;
    line-height: 1.3;
    letter-spacing: 0.02em;
    color: white;
    background-color: var(--BUTTON);
}
button:hover {
    background-color: white;
    color: black;
}
main button { width: 300px;}

/* General Formatting of Line-Level Elements */
h1, h2, h3, fieldset legend {
    color: var(--HEADING-1);
    padding-bottom: 10px;
}
p {padding-top: 3px; padding-bottom: 3px;}
::selection {background-color: var(--SELECTED);}

a {color: var(--LINK);}
a:visited {color: var(--VISITED);}
a:hover, a:focus {color: var(--HEADING-1); text-decoration: underline;}
a:active {color: black; text-decoration: underline;}

dt {font-size: 1.5rem; font-weight: 600;}
dd ul {
    padding-left: 50px;
}
h3 {color: var(--HEADING-2)}

/* Input Formatting */
input, select {
    font-family:inherit;
    font-size: inherit;
    font-weight: 500; 
    background-color: VAR(--BUTTON);
}
input[type="text"],
input[type="email"],
input[type="tel"] {
    padding: 1px 10px 1px 10px;
    width: 300px;
    box-shadow: var(--BOXSHADOW);
}

/* Fieldset Formatting */
fieldset {
    margin: 5px 0 5px 10px;
    border-style: hidden;
}

input[type="checkbox"]:checked,
input[type="checkbox"]:checked+label,
input[type="radio"]:checked,
input[type="radio"]:checked+label {
    padding: 5px 20px 5px 20px;
    background-color: var(--SELECTED);
    color: black;
    box-shadow: var(--BOXSHADOW);
    font-weight: 800;
}

/* Inspection Type Accordion Selector Formatting */
details {
    padding: 0 0 3px 0px;
}
details input {
    margin-left: 20px;
}
details summary {
    padding: 10px 10px 10px 15px;
    background-color: var(--INPUT);
    border: none;
    box-shadow: var(--BOXSHADOW);
    cursor: pointer;
}
details[open] > summary {
    margin: 5px 0 20px 0;
    background-color: var(--SELECTED);
    color: black;
}

.name {
    display: flex;
    flex-wrap: wrap;
    max-width: 320px;}
.first {max-width: 150px;}
.last {max-width: 150px;}


.address {
    display: flex;
    flex-wrap: wrap;
    max-width: 300px;}
.number {max-width: 80px;}
.street {max-width: 190px;}
.city {max-width: 140px;}
.state {max-width: 50px;}
.zip {max-width: 80px;}


.phone {
    display: flex;
    flex-wrap: wrap;
    max-width: 200px;}
.area_code {max-width: 55px;}
.prefix {max-width: 55px;}
.four {max-width: 70px;}


.email {
    display: flex;
    flex-wrap: wrap;
    max-width: 420px;}
.user  {max-width: 160px;}
.subdomain  {max-width: 160px;}
.domain {max-width: 60px;}

.license {
    display: flex;
    flex-wrap: wrap;
    max-width: 420px;}
.lic_type  {max-width: 200px;}
.lic_number  {max-width: 120px;}

.bus_lic {
    display: flex;
    flex-wrap: wrap;
    max-width: 420px;}
.bl_name  {max-width: 200px;}
.bl_number  {max-width: 120px;}
