/* No inhertiance from the universal selector.*/
* {padding: 0; 
    margin: 0;
    box-sizing: border-box;
} 

html { scroll-behavior: smooth; }

:root {
    /* Standard Color Wheel Hue Angles:
    --RED: 0; --ORANGE: 30; --YELLOW: 60; --LIME: 90;
    --GREEN: 120; --JADE: 150; --CYAN: 180; --CERULEAN: 210;
    --BLUE: 240; --VIOLET: 270; --PURPLE: 300; --MAGENTA: 330;

    Project Colors */
    --HEADING-2: hsla(35, 80%, 50%, 1.0);
    --HEADING-1: hsla(240, 80%, 50%, 1.0);
    --LINK: hsla(220, 80%, 60%, 1.0);
    --VISITED: hsla(220, 60%, 70%, 0.8);
    --SELECTED: hsla(230, 80%, 80%, 0.3);   
    --INPUT: hsl(230, 30%, 30%);
    --BACK: hsl(90, 2%, 9%); 
    --HEADER: hsl(120, 4%, 7%);

    --BLUE-DARK: #2A566F;
    --BLUE-LIGHT: #46c2ed;
    --RED: #AD1550;
    --YELLOW: #F1BC41;
    --GREEN-DARK: #205b57;
    --GREEN-MID: #A2bc58;
    --GREEN-LIGHT: #e2e886;
}

body { 
    color : var(--BLUE-DARK);
    background: var(WHITE); 
    font-family: sans-serif; 
    /* 'Calibri', 'Trebuchet MS',  */
    font-weight: 350;
    font-size: 1.1rem;
    line-height: 1.3;
    letter-spacing: 0.02em;
    text-align: left;
}
header {
    background-color: var(--HEADER);
    position: sticky;
    top: 0;
    right: 0;
    left:0;
    height: 80px;

}
footer{
    background-color: var(--HEADER);
    color: white;
    position: sticky;
    bottom: 0;
    right: 0;
    left:0;
    padding: 10px;
    padding-inline: 20px;
    
}
header h1 {
    padding: 20px 130px 10px 130px;
    color: white;
    text-align: left;
}
#MainLogo {
    position: fixed;
    top: 0;
    left: 0;
}
#MainMenu {
    background-color: var(--HEADING-1);
    position: fixed;
    top: 0;
    right: 0;
    text-align: center;
    height: 40px;
}
#MainMenu summary {
    background-color: var(--HEADING-1);
    color: white;
    font-weight: 400;
    list-style: none;
    min-width: 120px;
}
#MainMenu button {
    background-color: white;
    color: var(--INPUT);
    font-weight: 400;
    list-style: none;
    min-width: 120px;
}

section {
    border-radius: 5px;
    border-style: solid;
    border-color: var(--HEADING-1);
    border-width: 1px;
    padding: 15px;
    /* margin-top: 15px;
    margin-bottom: 15px; */
    margin: 15px 20px 15px 20px;
}

button {
    width: 120px;
    padding: 2px 0 2px 0;
    margin: 0;
    font-family: 'Calibri', 'Trebuchet MS', sans-serif;
    font-weight: 500;
    font-size: 1.35rem;
    line-height: 1.3;
    letter-spacing: 0.02em;
    color: white;
    background-color: var(--HEADING-1);
}
button:hover {
    background-color: white;
    color: black;
}
main button { width: 300px;}

/* General Formatting of Line-Level Elements */
h1, h2, h3, fieldset legend {
    color: var(--HEADING-1);
    padding-bottom: 10px;
}
p {padding-top: 3px; padding-bottom: 3px; margin: 0;}
::selection {background-color: var(--SELECTED);}

a {color: var(--LINK);}
a:visited {color: var(--VISITED);}
a:hover, a:focus {color: var(--HEADING-1); text-decoration: underline;}
a:active {color: brown; text-decoration: underline;}

ul {
    list-style-type: none;
}
ul li {
    margin-top: 10px;
}

dt {font-size: 1.5rem; font-weight: 600;}
dd ul {
    padding-left: 50px;
}
h3 {color: var(--YELLOW)}

/* Input Formatting */
input, select {
    font-family:inherit;
    font-size: inherit;
    font-weight: 500; 
    background-color: VAR(--INPUT);
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"] {
    padding: 1px 10px 1px 10px;
    width: 300px;
    box-shadow: var(--BOXSHADOW);
}
table input[type="text"],
table button {
    width: 150px;
}

/* Fieldset Formatting */
fieldset {
    margin: 5px 0 5px 10px;
    border-style: hidden;
}

input[type="checkbox"]:checked,
input[type="checkbox"]:checked+label,
input[type="radio"]:checked,
input[type="radio"]:checked+label {
    padding: 5px 20px 5px 20px;
    background-color: var(--SELECTED);
    color: black;
    box-shadow: var(--BOXSHADOW);
    font-weight: 800;
}

details summary {
    padding: 10px 10px 10px 15px;
    background-color: var(--INPUT);
    border: none;
    box-shadow: var(--BOXSHADOW);
    cursor: pointer;
}
details[open] > summary {
    /* margin: 5px 0 20px 0; */
    background-color: var(--INPUT);
    color: black;
}

section table tr td {
    border-top: 1px dashed gray;
    padding: 10px 0;
    vertical-align: top;
}


.name {
    display: flex;
    flex-wrap: wrap;
    max-width: 320px;}
.first {max-width: 150px;}
.last {max-width: 150px;}


.address {
    display: flex;
    flex-wrap: wrap;
    max-width: 300px;}
.number {max-width: 110px;}
.street {max-width: 190px;}
.city {max-width: 160px;}
.state {max-width: 50px;}
.zip {max-width: 90px;}


.phone {
    display: flex;
    flex-wrap: wrap;
    max-width: 200px;}
.area_code {max-width: 55px;}
.prefix {max-width: 55px;}
.four {max-width: 70px;}


.email {
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;}
.user  {max-width: 150px;}
.subdomain  {max-width: 132px;}
.domain {max-width: 60px;}

.license {
    display: flex;
    flex-wrap: wrap;
    max-width: 320px;}
.lic_type  {max-width: 190px;}
.lic_number  {max-width: 110px;}

.bus_lic {
    display: flex;
    flex-wrap: wrap;
    max-width: 420px;}
.bl_name  {max-width: 190px;}
.bl_number  {max-width: 110px;}
