<table>
    <thead>
        <tr>
            <th> Description </th>
            <th> Rate </th>
            <th> Units </th>
            <th> Quantity </th>
            <th> Amount </th>
            <th> Paid </th>
            <th> Invoice # </th>
            <th> Account String </th>
        </tr>
    </thead>
    <tbody>
        {% for fee in fees %}
            <tr>
                <td> {{ description }} </td>
                <td> {{ rate }} </td>
                <td> {{ units }} </td>
                <td> {{ quantity }} </td>
                <td> {{ amount }} </td>
                <td> {{ paid }} </td>
                <td> {{ invoice }} </td>
                <td> {{ account }} </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
