
<!-- Get Location, Owner, Contractor, etc. -->
<div class="header">
    <div class="head-item">       
        <h3> Parcels </h3>
        <p> APN 000-000-000 </p>
        <p> APN 000-000-001 </p>
    </div>
    <div class="head-item"> 
        <h3> Addresses </h3>  
        {% for address in addresses %}
            {{ include 'partials/address.html' }}
        {% endfor %}
    </div>
    <div class="head-item"> 
        <h3> Zones </h3>  
        <p> Land Use Zone {{ zf_zone }} </p>
        <p> Flood Zone {{ flood_zone }} </p>
        <p> Soils: {{ soils }} </p>
        <p> WUI: {{ wui }} </p>   
    </div>

    <div class="head-item"> 
        <h3> Districts </h3>  
        <p> {{ fire_district }} </p>
        <p> {{ school_district }} </p>
        <p> {{ service_district }} </p>
        
    </div>
</div>