<!DOCTYPE html>
<html lang="en">
{% load i18n static humanize %}

<head>{% include 'base_head.html' %}</head>

<body class="{% block bodyclass %}{% endblock %}"
    data-admin-utc-offset="{% now 'Z' %}"
    hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>

<header 
    style="
        background-color: var(--HEADER);
        position: sticky;
        top: 0;
        right: 0;
        left:0;
        height: 80px;">
        
    <a  id="MainLogo" 
        href="/" 
        style="
            position: fixed;
            top: 0;
            left: 0;">
        <img 
            style="width:120px;height:80px;" 
            src="{% static 'yolobuilds_blue.png' %}" 
            alt="Yolo Builds logo and link to home">
    </a> 

    <h1 style="
        padding: 20px 20px 10px 130px; 
        color: white; 
        text-align: left; 
        font-size: 1.8rem;">
        {% block heading %} {% endblock %}
    </h1>

    {% include 'base_menu.html' %}
</header>

{% block messages %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li {% if message.tags %} 
                    class="{{ message.tags }}"
                    {% endif %}>
                    {{ message|capfirst }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock messages %}

{% block sidebar %}{% endblock %}

<style>
section {
    border-radius: 5px;
    border-style: solid;
    border-color: var(--HEADING-1);
    border-width: 1px;
    padding: 15px;
    margin: 15px 20px 15px 20px;
}
</style>
<main>
    {% block main_content %}
    <section> This is the base.html text. Define a block "main_content" to overwrite this placeholder text. </section>
    {% endblock main_content %}
</main>
</body>
</html>