{% extends "base.html" %}


{% block header %} Welcome {% endblock %}
{% block headDescription %} This is the permit application and tracking website for Yolo County Building Division,
Planning, and Public Works. {% endblock %}


{% block main %}
<section>
    <p><a href="/land" aria-disabled="true">
            Search by location</a> to view all public records that are
        available for an address or APN.
    </p>
</section>

<section>
    <p><a href="/bp">
            Building</a>
        issues all building permits including construction, demolition,
        change of use, electrical, mechacnical, plumbing, grading, fire,
        flood, and pool/spa.
    </p>
</section>

<section>
    <p><a href="/bl" aria-disabled="true">
            Business Licenses</a>
        issues all business licenses for businesses operating in the
        unincorporated portions of Yolo County.
    </p>
    <p>Contact the <a href="https://www.yolorecorder.org/filings/fictitious">
            Yolo County Recorder</a>
        to record a fictitious business name (DBA).
    </p>
</section>

<section>
    <p><a href="/ce" aria-disabled="true">
            Code Enforcement</a>
        investigates reported code violations and works with the
        appropriate individuals and agencies to abate violations.
    </p>
</section>

<section>
    <p><a
            href="https://www.yolocounty.org/government/general-government-departments/community-services/environmental-health-division">
            Environmental Health</a> issues permits for wells, septic systems,
        solid waste, hazardous materials, and consumer protection
        (food service, tatoos, piercing, etc.).
    </p>
</section>

<section>
    <p><a href="https://www.yolocounty.org/government/general-government-departments/community-services/integrated-waste-management-division/central-landfill/construction-demolition-recycling"
            aria-disabled="true">Integrated Waste Management</a> enforces CALGreen recycling requirements.</p>
</section>

<section>
    <p><a href="/zf" aria-disabled="true">
            Planning</a> issues both ministerial reviews and discretionary
        land use permits.</p>
</section>

<section>
    <p><a href="/pw" aria-disabled="true">
            Public Works</a> issues encroachment permits,
        transportation permits, and county surveyor requests.</p>
</section>
{% endblock main %}