<!DOCTYPE html>
<html lang="en">
{% load i18n static humanize %}

<head>
    <title> {{ title }} </title>

    <link rel="stylesheet" href="{% static 'base.css' %}">
    {% block extra_css %} {% endblock extra_css %}
    {% block dark-mode-vars %} {% endblock dark-mode-vars %}

    <script defer src="{% static 'alpine.min.js' %}"></script>
    <script defer src="{% static 'htmx.min.js' %}"></script>

    {% block extrahead %}{% endblock %}

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Scott Doolittle" />
    <meta name="description" content="Yolo Builds v0.24.0." />

    {% block blockbots %}
    <meta name="robots" content="NONE,NOARCHIVE">
    {% endblock %}
    <!-- {% if debug %}
        if (typeof window.htmx !== "undefined") {
            htmx.on("htmx:afterSettle", function(detail) {
                if (
                    typeof window.djdt !== "undefined"
                    && detail.target instanceof HTMLBodyElement
                ) {
                    djdt.show_toolbar();
                }
            });
        }
    {% endif %} -->
</head>

{% block messages %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
        {{ message|capfirst }}
    </li>
    {% endfor %}
</ul>
{% endif %}
{% endblock messages %}

{% block sidebar %}{% endblock %}

<body {% if bodyclass %} class="{{ bodyclass }}" {% endif %} data-admin-utc-offset="{% now 'Z' %}"
    hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' x-data="{ bp: @js($'data/BP24-0000') }">
    <header class="grid">
        <div style="margin-right:120px">
            <h1> {% block header %} Add a Header {% endblock %}</h1>
            <p> {% block headDescription %} Add a headDescription to replace this text. {% endblock %}</p>
        </div>
        <a id="MainLogo" href="/">
            <img style="width:120px;height:80px; position:fixed; top:0; right:0"
                src="{% static 'white_logo_transparent_background.png' %}" alt="Yolo Builds logo and link to home">
        </a>
    </header>

    <main>
        {% block main %}
        <section> This is the base.html text. Define a block "main" to overwrite this placeholder text. </section>
        {% endblock main %}
    </main>

    <footer x-data="{ 
        verified: false, 
        admin: false, 
        open: false,
        login: false, 
        register: false, 
        logout: true,
        profile: false, 
        configure: false, 
    }">
        <!-- On this tite the footer is the location of the main menu and similar links/buttons. 
        It is placed here to promote ease of use for smartpphone users with one hand. -->

        <button id="MainMenu" @click="open = ! open" x-show="! open"> Menu </button>
        <button id="MainMenu" @click="open = ! open" x-show="open"> Close Menu </button>
        <button x-cloak x-show="! verified" @click="loginDialog.showModal()">Login</button>
        <button x-cloak x-show="! verified" @click="registerDialog.showModal()">Register</button>
        <button x-cloak x-show="verified" @click="logoutDialog.showModal()">Logout</button>
        <button x-cloak x-show="verified" @click="profileDialog.showModal()">Profile</button>
        <button x-cloak x-show="admin * verified" @click="configDialog.showModal()"> Configuration </button></a><br>
        <span> {% include 'base_menu.html' %} </span>
        <span> {% include 'base_search.html' %} </span>
        <span> {% include 'base_login.html' %} </span>
        <span> {% include 'base_register.html' %} </span>
        <span> {% include 'base_logout.html' %} </span>
        <span> {% include 'base_profile.html' %} </span>
        <span> {% include 'base_configure.html' %} </span>
    </footer>
</body>

</html>