{% extends "base.html" %}


{% block main %}
<section>
    <h3>Demolition Permit Application</h3>
    <p>
        This is the permit application for the demolition of any structure, including pools and partial construction to prepare for a major remodel.
    </p>

    <form action="{% url 'bp:demolition' %}" method="post"></form>
        {{ form.as_p }}
        <table>
            <tr>
                <td> Description: </td> 
                <td> {{ form.description }} </td>
            </tr>
            <tr>
                <td> Number of Structures: </td> 
                <td> {{ form.number_of_structures }} </td>
            </tr>
            <tr>
                <td> Demolition Area: </td> 
                <td> {{ form.demolition_area }}sf </td>
            </tr>
            <tr>
                <td> Demolition Cost: </td> 
                <td> ${{ form.valuation }} </td>
            </tr>
            <tr>
                <td> Address: </td> 
                <td> {{ form.address }} </td>
            </tr>
            <tr>
                <td> Parcel Number: </td> 
                <td> {{ form.apn }} </td>
            </tr>
            <tr>
                <td> Related Permits (optional): </td> 
                <td> {{ form.related }} </td>
            </tr>
            <tr>
                <td> Applicant: </td> 
                <td> {{ form.address }} </td>
            </tr>
            <tr>
                <td> Owner: </td> 
                <td> {{ form.apn }} </td>
            </tr>
            <tr>
                <td> Contractor: </td> 
                <td> {{ form.related }} </td>
            </tr>
        </table>
        <input type="button" value="Submit">
    </section>
</form>
{% endblock main %}