{% extends "base.html" %}


{% block main %}
<section>
    <h2> Location </h2>
    {% include 'location.html' %}
</section>

<section>
    <h2> Contacts </h2>
    {% include 'contacts.html' %}
</section>

{% block permit_details %}
{% endblock permit_details %}

<section>
    <h2> Reviews </h2>
    {% include 'reviews.html' %}
</section>

<section>
    <h2> Inspections </h2>
    {% include 'inspections.html' %}
</section>

<section> Fiscal </h2>
    {% include 'fiscal.html' %}
</section>

<section>
    <h2> Documents </h2>
    {% include 'documents.html' %}
</section>
{% endblock main %}