{% extends 'base.html' %}

{% block main %}
<section>
    <table>
        <tr>
            <th> Record </th>
            <th> Group </th>
            <th> Fee </th>
            <th> Quantity</th>
            <th> Units </th>
            <th> Amount </th>
            <th> Balance </th>
            <th> Submittal </th>
            <th> Account </th>
            <th> Notes </th>
        </tr>
        {% for fee in fees%}
            <tr>
                <td> {{ fee.record }} </td>
                <td> {{ fee.group }} </td>
                <td> {{ fee.name }} </td>
                <td> {{ fee.qty }} </td>
                <td> {{ fee.units }} </td>
                <td> {{ fee.amount }} </td>
                <td> {{ fee.balance }} </td>
                <td> {{ fee.submittal }} </td>
                <td> {{ fee.account }}</td>
                <td> {{ fee.notes }} </td>
            </tr>
        {% endfor %}
    </table>
</section>
{% endblock main %}