{% extends "base.html" %}


{% block header %} Fiscal {% endblock %}
{% block headDescription %} This is the fiscal reporting site for Yolo Builds. {% endblock %}


{% block main %}
<h2> Fiscal </h2>
<table>
    <tr>
        <th> Total Fees </th>
        <th> Paid </th>
        <th> Remaining </th>
    </tr>
    <tr>
        <td> $6,000 </td>
        <td> $3,000 </td>
        <td> $3,000 </td>
    </tr>
</table>

<h3> Details </h3>
<table>
    <thead>
        <tr>
            <th> Description </th>
            <th> Rate </th>
            <th> Units </th>
            <th> Quantity </th>
            <th> Amount </th>
            <th> Paid </th>
            <th> Invoice # </th>
            <th> Account String </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td> 001 Fee Description </td>
            <td> $1.00 </td>
            <td> Square Feet </td>
            <td> 3,000 </td>
            <td> $3,000.00 </td>
            <td> 1/1/2025 </td>
            <td> 0000000001 </td>
            <td> 06695940302349083459834592302348934598345982345 </td>
        </tr>
        <tr>
            <td> 002 Fee Description </td>
            <td> $1.00 </td>
            <td> Square Feet </td>
            <td> 3,000 </td>
            <td> $3,000.00 </td>
            <td> DUE </td>
            <td> 0000000002 </td>
            <td> 06695940302349083459834592302348934598345982345 </td>
        </tr>
    </tbody>
</table>
<h3> Payments </h3>
<table>
    <thead>
        <tr>
            <th> Date </th>
            <th> Amount </th>
            <th> Invoice # </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td> 001 Date </td>
            <td> 001 Amount </td>
            <td> 001 Invoice # </td>
        </tr>
        <tr>
            <td> 002 Date </td>
            <td> 002 Amount </td>
            <td> 002 Invoice # </td>
        </tr>
    </tbody>
</table>
{% endblock main %}