{% extends "base.html" %}


{% block main %}
<section>
    <p><input type="text"> <button type="button"> Search </button> </p>
</section>

<style>
    .container {
        display: grid;
    }
    .one {grid-column-start: 1;}
    .two {grid-column-start: 2;}
    .three {grid-column-start: 3;}
    .four {grid-column-start: 4;}
    .five {grid-column-start: 5;}
    .six {grid-column-start: 6;}
    .seven {grid-column-start: 7;}
    .eight {grid-column-start: 8;}

    .one, .two, .three, .four, .five, .six, .seven, .eight {
        padding-left: 20px;
    }
</style>

<section>
    <h2>000-000-000</h2>
    <div class="container">
        <div class="one">
            <h3> Districts </h3>
            <p> Fire District: {{ fire_district }} </p>
            <p> School District: {{ school_district }} </p>
            <p> Service District: {{ service_district }} </p>
        </div>
        <div class="two">
            <h3> Zones </h3>
            <p> Land Use Zone: {{ zf_zone }} </p>
            <p> Flood Zone: {{ flood_zone }} </p>
            <p> Soils: {{ soils }} </p>
            <p> WUI: {{ wui }} </p>
        </div>
    </div>
</section>

<section>             
    <h2>Related Records</h2>
        <div class="container">
            <div class="one">
                <h3> Land </h3>
                <p> APN 000-000-000 </p>
                <p> APN 000-000-001 </p>
                {% for apn in parcels %}
                    <ul>
                        <li> {{ apn.number }} </li>
                        <ul> 
                            {% for address in apn.number.addresses %}
                                <li> {{ address }} </li>
                            {% endfor %}
                        </ul>
                    </ul>
                    <p>  </p>
                {% endfor %}
            </div>

            <div class="two">
                <h3> Contacts </h3>
                <p> Joe Schmoe </p>
                <p> Jimmy Leftwich </p>
                <p> Cadbury Egg </p>
            </div>
        </div>

        <div class="container">
            <div class="one">
                <h3> Projects </h3>
                <p> ZF24-004 </p>
                <p> APN 000-000-001 </p>
                {% for apn in parcels %}
                    <ul>
                        <li> {{ apn.number }} </li>
                        <ul> 
                            {% for address in apn.number.addresses %}
                                <li> {{ address }} </li>
                            {% endfor %}
                        </ul>
                    </ul>
                    <p>  </p>
                {% endfor %}
            </div>

            <div class="two">
                <h3> Contacts </h3>
                <p> Joe Schmoe </p>
                <p> Jimmy Leftwich </p>
                <p> Cadbury Egg </p>
            </div>
        </div>
</section>

<section> 

    <button type="button">Edit Parcel</button>
</section>

<section>
    <table>
        <thead>
            <tr>
                <th> Parcel </th>
                <th> Owner </th>
                <th> Addresses </th>
                <th> Area </th>
                <th> Land Use Zone </th>
                <th> Flood Zone </th>
                <th> Soils </th>
                <th> WUI </th>
            </tr>
        </thead>
        <tbody>
            {% for apn in apns %}
                <tr>
                    <td> {{ apn.number }} </td>
                    <td> {{ apn.owner }} </td>
                    <td> {{ apn.addresses }} </td>
                    <td> {{ apn.area }} </td>
                    <td> {{ apn.zone }} </td>
                    <td> {{ apn.flood }} </td>
                    <td> {{ apn.soil }} </td>
                    <td> {{ apn.wui }} </td>
                </tr>
            {% endfor %}
            <tr>
                <td> 001-123-456 </td>
                <td> MC Hammer </td>
                <td> 10001 CR 1 <br> 20002 CR 2 </td>
                <td> 12.2</td>
                <td> A-N, A-X </td>
                <td> AE, X </td>
                <td> High </td>
                <td> Yes </td>
            </tr>
        </tbody>
    </table>
</section>
{% endblock main %}