<!DOCTYPE html>
<html lang="en">
{% load i18n static humanize %}
{% if debug %}
    if (typeof window.htmx !== "undefined") {
        htmx.on("htmx:afterSettle", function(detail) {
            if (
                typeof window.djdt !== "undefined"
                && detail.target instanceof HTMLBodyElement
            ) {
                djdt.show_toolbar();
            }
        });
    }
{% endif %}
<head>
    <title>Yolo Builds{% if title %} - {{ title }} {% endif %}</title>   
    <link rel="icon" href="{% static 'Yolo Builds.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    {% block extra_css %}{% endblock extra_css %}
    {% block dark-mode-vars %}{% endblock dark-mode-vars %} <!-- <link rel="stylesheet" href="{% static 'dark_mode.css' %}"> <script src="{% static 'js/theme.js' %}" defer></script> -->
    <script defer src="{% static 'alpine.min.js' %}"></script>
    <script defer src="{% static 'htmx.min.js' %}"></script>
    <script defer src="{% static 'vanilla.js' %}"></script>
    {% block extrahead %}{% endblock %}
    <meta   charset="UTF-8">
    <meta   name="viewport" 
            content="width=device-width, initial-scale=1.0">
    <meta   name="author" 
            content="Scott Doolittle">
    <meta   name="description" 
            content="Yolo County's permit application and tracking tool.">
    {% block blockbots %}<meta   name="robots" content="NONE,NOARCHIVE">{% endblock %}
</head>


<body class="{% block bodyclass %}{% endblock %}"
    data-admin-utc-offset="{% now 'Z' %}"
    hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
<header>
    <a id="MainLogo" href="/">
        <img 
            style="width:120px;height:80px;" 
            src="{% static 'yolobuilds_blue.png' %}" 
            alt="Yolo Builds logo and link to home">
    </a> 

    <h1><p>{% block heading %} {% endblock %}</p></h1>

    <details id="MainMenu">
        <summary>Menu</summary>
        {% if user.is_authenticated %}
            <a target="_blank" href="profile/">
                <button id="settings">Profile</button></a><br>
            <a target="_blank" href="profile/logout/">
                <button id="settings">Logout</button></a><br>
            {% else %}
            <a target="_blank" href="profile/register/">
                <button id="settings">Register</button></a><br>
            <a target="_blank" href="profile/login/">
                <button id="settings">Login</button></a><br>
        {% endif %}
        <a target="_blank" href="https://google.com">
            <button id="search">Search</button></a><br>
        <a target="_blank" href="https://google.com">
            <button id="recent">Recent</button></a><br>
        <a target="_blank" href="https://google.com">
            <button id="related">Related</button></a><br>
        <a target="_blank" href="https://yolo.maps.arcgis.com/apps/View/index.html?appid=a36499d6ec8f494ba6974de0ca9b95d0">
            <button id="gis_link">GIS</button></a><br>
        <a target="_blank" href="https://google.com">
            <button id="add">Add</button></a><br>
        <a target="_blank" href="https://google.com">
            <button id="edit">Edit</button></a><br>
        <a target="_blank" href="https://google.com">
            <button id="attachments">Files</button></a><br>
        <a target="_blank" href="https://google.com">
            <button id="print_docs">Print</button></a><br>
        <a target="_blank" href="https://google.com">
            <button id="sire">SIRE</button></a><br>
        <a target="_blank" href="https://google.com">
            <button id="calc">Calc</button></a><br>
        {% if user.is_staff %}
            <a target="_blank" href="admin/">
            <button id="config">Config</button></a><br>
        {% endif %}
    </details>
</header>

{% block messages %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li {% if message.tags %} 
                    class="{{ message.tags }}"
                    {% endif %}>
                    {{ message|capfirst }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock messages %}

{% block sidebar %}{% endblock %}

<main>
    {% block intro %}{% endblock %}{% block main_content %}{% endblock main_content %}
</main>

</body>
</html>