{% extends "bp_base.html" %}

{% block additional_requirements %}
    <section>
        <p>For <u>pool demolition</u>, also specify the following code requirements:</p>
        <ul>
            <li>If the pool is not completely removed, specify that a minimum of eight (8) holes with a minimum diameter of 8-inches will be drilled completely through the bottom so water will be able to drain.</li>

            <li>If the pool is not completely removed the top must either remain above grade or remove the top 24 inches of the bond beam.</li>

            <li>The pool shall be backfilled and compacted to a minimum of ninety percent (90%) maximum density. No organic or other reducible material shall be incorporated in fills. No rock or similar irreducible material with a maximum dimension greater than (8) inches shall be buried or placed within forty-eight (48) inches of finished grade. Field density shall be determined by a method acceptable to the Building Official.</li>

            <li>Disconnection and proper termination of the gas, water and electrical lines will be required prior to final inspection.</li>           
        </ul>
    </section>
{% endblock additional_requirements %}


{% block fee_examples %}
    <section>
        <p> Fees will vary based on project specific staff workload. These samples are based on typical demolition permit workloads.</p>
        <table>
            <thead>
                <tr>
                    <th>Fee</th>
                    <th scope="col">Type</th>
                    <th scope="col">Detail</th>
                    <th scope="col">Pool</th>
                    <th scope="col">Small Building</th>
                    <th scope="col">Large Building</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Valuation of Example</td>
                    <td> - </td>
                    <td> - </td>
                    <td>$10,000</td>
                    <td>$10,000</td>
                    <td>$100,000</td>
                </tr>
                <tr>
                    <th scope="row">Building Permit Application Fee</th>
                    <td>Flat</td>
                    <td>Permit Tech Time</td>
                    <td>$67</td>
                    <td>$67</td>
                    <td>$67</td>
                </tr>
                <tr>
                    <th scope="row">Building Permit Issuance Fee</th>
                    <td>Flat</td>
                    <td>Permit Tech Time</td>
                    <td>$56</td>
                    <td>$56</td>
                    <td>$56</td>
                </tr>
                <tr>
                    <th scope="row">CA Building Standards Fee</th>
                    <td>%</td>
                    <td>State Fee</td>
                    <td>$5</td>
                    <td>$15</td>
                    <td>$5</td>
                </tr>
                <tr>
                    <th scope="row">Demolition of Swimming Pool</th>
                    <td>Flat</td>
                    <td>Inspection</td>
                    <td>$217</td>
                    <td> - </td>
                    <td> - </td>
                </tr>
                <tr>
                    <th scope="row">Demolition per Building</th>
                    <td>Flat</td>
                    <td>Inspection</td>
                    <td> - </td>
                    <td>$434</td>
                    <td>$1,302</td>
                </tr>
                <tr>
                    <th scope="row">Environmental Health</th>
                    <td>Flat</td>
                    <td>Plan Review</td>
                    <td>$472</td>
                    <td>$472</td>
                    <td>$472</td>
                </tr>
                <tr>
                    <th scope="row">Issuance Technology Fee</th>
                    <td>%</td>
                    <td>Computer Systems</td>
                    <td>$20</td>
                    <td>$30</td>
                    <td>$85</td>
                </tr>
                <tr>
                    <th scope="row">Permit Reviews and Requests</th>
                    <td>Flat</td>
                    <td>Plan Review</td>
                    <td>$149</td>
                    <td>$149</td>
                    <td>$149</td>
                </tr>
                <tr>
                    <th scope="row">Submittal Technology Fee</th>
                    <td>%</td>
                    <td>Computer Systems</td>
                    <td>$15</td>
                    <td>$15</td>
                    <td>$15</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th scope="row">Total Fees</th>
                    <td> - </td>
                    <td> - </td>
                    <td>$1,001</td>
                    <td>$1,228</td>
                    <td>$2,161</td>
                </tr>
            </tfoot>
        </table>
    </section>
{% endblock fee_examples %}


{% block inspection_checklist %}
    <section>
        <h4>Utility Disconnect and Pre-Measure</h4>
        <p>The first trip for all demolition permits inspects the following:
            <ul>
                <li>Verify the utilities have been disconnected and properly terminated. </li>
                <li>Verify the dimensions of the structure match those shown on the demolition plan. If this inspection is skipped by the permit holder then the owner may not be eligible for impact fee offsets.</li>
                <li>For pool demolition or other underground structures, verify the structure has been removed, or sufficiently punctured (min (8) holes at min 8-inch diameter) and removed within 24 inches of finished grade. Verify the backfill material is present and suitable and review the compaction requirements with the permit holder. </li>
            </ul>
        </p>
    </section>

    <section>
        <h4>Pool Demolition - In Progress</h4>
        <p>The second trip for pool demolition permits inspects the following:
            <ul>
                <li>At 48-inches from grade, the compacted fill is inspected. Verify disconnects and backfill material. </li>
            </ul>
        </p>
    </section>
    
    <section>
        <h4>Final</h4>
        <p>The final trip for all demolition permits inspects the following:
            <ul>
                <li>Verify the structure has been completely removed. </li>
                <li>The site must be free of hazards and waste.  </li>
                <li>Verify all ground slopes must be 2H:1V or flatter. </li>
                <li>If backfill compaction was required then verify the final engineering reports. </li>
            </ul>
        </p>
    </section>

{% endblock inspection_checklist %}