{% extends "base.html" %}

{% block heading %}Permit Application{% endblock heading %}

{% block main_content %}

<section>
    <h3>Demolition Permit Application</h3>
    <p>
        This is the permit application for the demolition of any structure, including pools and partial construction to prepare for a major remodel.
    </p>

    {{ form.non_field_errors }}
    <form action="" method="post">
        <table>
            {% for field in form %}
                <tr>
                    <td>{{field.label_tag}}</td>
                    <td>
                        {{ field.errors }}
                        {{ field }}
                    </td>
                </tr>
            {% endfor %}
        </table>
        <input type="button" value="Submit">
    </form>
</section>
{% endblock main_content %}