{% extends "base.html" %}

{% block heading %}Building Division{% endblock heading %}

{% block main_content %}

<section>
    <p>
            If your permit is for activities entirely within 
            <a href="https://www.yolocounty.org/government/general-government-departments/innovation-and-technology-services/geographical-information-system/use-gis">
            city limits</a>, contact the city for your permit:<br>
    </p>
    <p>
        <a href="https://www.google.com/search?q=city+of+davis+CA"
        > Davis</a>  |  
        <a href="https://www.google.com/search?q=city+of+west+sacramento+CA"
        > West Sacramento</a>  |  
        <a href="https://www.google.com/search?q=city+of+winters+CA"
        > Winters</a>  |  
        <a href="https://www.google.com/search?q=city+of+woodland+CA"
        > Woodland</a>
    </p>
</section>

<section>
    <h3>Applications</h3>
    <table>
        <tr>
            <td><a href="{% url 'bp:accessory' %}">Accessory Structures</a></td>
            <td>New construction of private garages, barns, sheds, towers, tanks, retaining walls, fences and other non-habitable and non-occupiable structures. See below for Pool/Spa.</td>
        </tr>

        <tr>
            <td><a href="{% url 'bp:commercial' %}">Commercial</a></td>
            <td>New construction of halls, restaurants, offices, retail, factories, warehouses and similar occupiable spaces.</td>
        </tr>

        <tr>
            <td><a href="{% url 'bp:dwelling' %}">Dwellings</a></td>
            <td>New construction of custom homes, track homes, manufactured homes, tiny homes, accessory dwelling units (ADU's) and similar habitable spaces.

        <tr>
            <td><a href="{% url 'bp:demolition' %}">Demolition</a></td>
            <td>Any building or structure (including pools) or partial demolition to prepare for a remodel.</td>
        </tr>

        <tr>
            <td><a href="{% url 'bp:electrical' %}">Electrical</a></td>
            <td>For work covered by the CA Electrical Code including Fire alarms, solar, batteries, EVCS, backup generators, and motor loads (such as well pumps).</td>
        </tr>

        <tr>
            <td><a href="{% url 'bp:existing' %}">Existing Building</a></td>
            <td>For work covered by the California Existing Building Code  including repair, alteration, remodel, reconstruction, moved structures, and additions.</td>
        </tr>

        <tr>
            <td><a href="{% url 'bp:fire' %}">Fire</a></td>
            <td>Work regulated by the CA Fire Code including construction permits, operational permits, and fire sprinkler systems. In some fire districts you will work directly with the fire district.</td>
        </tr>

        <tr>
            <td><a href="{% url 'bp:flood' %}">Flood</a></td>
            <td>For any development regulated by the Yolo County Flood Protection Ordinance.</td>
        </tr>

        <tr>
            <td><a href="{% url 'bp:grading' %}">Grading</a></td>
            <td>For any earthwork regulated by CA Building Code Appendix J.</td>
        </tr>

        <tr>
            <td><a href="{% url 'bp:mechanical' %}">Mechanical</a></td>
            <td>Work regulated by the CA Mechanical Code including HVAC.</td>
        </tr>

        <tr>
            <td><a href="{% url 'bp:plumbing' %}">Plumbing</a></td>
            <td>Work regulated by the CA Plumbing Code including water heaters and fuel gas piping.</td>
        </tr>

        <tr>
            <td><a href="{% url 'bp:pool' %}">Pool/Spa</a></td>
            <td>For any pool and/or spa, including private residential and public pools. Private Residential Pools are regulated by the Internation Swimming Pool and Spa Code and the California Swimming Pool Safety Act. Public Pools are regulated by CA Building Code Chapter 31B Public Pools and the Department of Public Health.</td>
        </tr>   
    </table>
</section>

<section>
    <p>
        Monitor the progress of a <a href="/bp/permit" aria-disabled="true">
            permit, review, or inspection.</a>
    </p>
</section>

<section>
    <h3>Service Requests</h3>
    <table>
        <tr>
            <td><a href="/bp/insp_req">Address</a></td>
            <td>To request that an address be assigned to your property.</td>
        </tr>
        <tr>
            <td><a href="/bp/insp_req">Appeal</a></td>
            <td>To request an appeal of a staff decision.</td>
        </tr>
        <tr>
            <td><a href="/bp/insp_req">Certicate of Occupancy</a></td>
            <td> To request your certificate of occupancy (including temporary). </td>
        </tr>
        <tr>
            <td><a href="/bp/insp_req"> Inspection </a></td>
            <td> To request an inspection. </td>
        </tr>
        <tr>
            <td><a href="/bp/insp_req"> Permit Cancellation </a></td>
            <td> To cancel a permit. </td>
        </tr>
        <tr>
            <td><a href="/bp/insp_req"> Permit Extension </a></td>
            <td>To request a permit extension. </td>
        </tr>
        <tr>
            <td><a href="/bp/insp_req"> Permit Refund </a></td>
            <td> To request a refund of paid fees. </td>
        </tr>
    </table>
</section>

<section>
    <h3> Information </h3>
    <table>
        <tr>
            <td><a href="/bp/structural"> Structural </a></td>
            <td><p> More to come... </p></td>
        </tr>
    </table>
</section>

{% endblock main_content %}