
* {padding: 0;
    margin: 0;
    box-sizing: border-box;
}

 :root {    /* Color Scheme */
   --SHADE: hsla(215, 25%, 15%, 1.0);  
   --FIELD1: hsla(215, 25%, 20%, 1.0);
   --FIELD2: hsla(215, 25%, 80%, 0.3);
   --WHITE: hsla(215, 0%, 100%, 1.0);
   --BRIGHT: hsla(215, 100%, 60%, 1.0);
   --BORDER: hsla(215, 100%, 40%, 1.0);
}

body {
    background-color: var(--SHADE); 
    color : var(--WHITE);
    font-family: 'Calibri', 'Trebuchet MS', sans-serif;
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 1.3;
}

header, 
footer, 
main {
    background-color: var(--FIELD1);
    border-style: SOLID;
    border-width: 1px;
    border-radius: 30px;
    border-color: var(--BORDER);
    padding: 10px 40px 10px 30px;
    margin: 20px;}

p {
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
}

a {color: var(--BRIGHT);}

::selection {background-color: var(--FIELD2);}

button, 
input, 
textarea, 
select {
    font-family:inherit;
    font-size: inherit;
    font-weight: 600; 
    background-color: VAR(--WHITE);
    color: hsla(225, 0%, 0%, 1.0);
    padding: 5px;
}
form input[type=text] {
    background-color: var(--FIELD2);
    width: 250px;
}
fieldset {
    padding: 10px 20px 10px 17px;
    margin: 20px 0 20px 0;
    max-width: 600px;
}
